# Ambiente virtual
venv/
env/
.venv/

# Arquivos de banco de dados
*.sqlite
*.db

# Arquivos de configuração local
.env
*.log

# Arquivos de cache do Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos de IDE
.vscode/
.idea/

# Arquivos de sistema
.DS_Store
Thumbs.db